// ===== HEADER =====
/* 導覽列 */
header  .header_nav-link {
  padding: 0.5rem 1.5rem !important;
}


// ===== FOOTER =====
footer{
  background-image: url(../images/wave_bottom_all.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  .background{
    padding-top: 25rem;
    padding-bottom: 1rem;
  }
 
  /* footer連結 */
  .footer_links{
    display: flex;
  }
    ul li{
      padding-bottom: 2.25rem;
      a{
        display: inline-block;
        color: var(--white);
      }
    }

  /* media     */
  .media ul{
    display: flex;
    justify-content: space-between;
    max-width: calc( 100% - 5rem );
    li {
      padding: 2.25rem 0;
    }
  }

  /* downapp */
  .downapp ul{
    display: flex;
    justify-content: space-between;
    max-width: calc( 100% - 9rem );
  }

  /* 著作權 */
  .copyright{
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    font-family: Helvetica;
    padding: 0.75rem 0;
  }
}
@media screen and (max-width:1200px) {
  footer {
    max-width: 1200px;
  }
}

@media screen and (max-width:992px) {
  footer {
    max-width: 960px;
  }

  footer .background {
    justify-content: space-evenly;
  }

  footer .footer_links {
    justify-content: center;
  }

  footer .media ul li {
    margin-right: 1rem;
  }

  footer .downapp li {
    padding-right: 1rem;
  }
}

@media screen and (max-width:768px) {
  footer .background {
    padding: 0 0 1rem;
  }

  footer .container .background .col:first-child {
    order: 1;
  }

  footer .container .subscribe {
    order: 0;
  }

  footer .footer_links ul {
    /* flex-direction: row; */
  }

  footer ul li {
    padding: 0.5rem 1rem 2rem;
  }

  footer .container .background .footer_links .col:first-of-type {
    order: 1;
  }

  footer .container .background .footer_links .col:nth-of-type(2) {
    order: 2;
  }

  footer .downapp ul {
    align-items: center;
    justify-content: center;
  }
}
